body{
    font-family: 'Nunito';
    background-color: white;
}

.navigation_bar{
    padding-top: 10px;
    padding-bottom: 5px;
}

li{
    float: left;
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 25px;
}

span{
    color: #EC4067;
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.project{
    display: flex;
    align-items: center;
    justify-content: center;   
}

.rose{
    width: 150px;
}

button{
    background-color: #EC4067;
    border-radius: 5px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 20px;
}

a{
    color: #EC4067;
}

.technical_mentors {
    display: flex;
}

.mentor{
    flex: 33.33%;
    padding: 5px;
}


.still_not_sure{
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 150px;
}

.designer{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5px;
    background-color: rgb(245, 245, 245);
    text-align: center;
    position: relative;
}